html{
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(225deg, #B6CCBA, #92BDC1);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    width: 47%;
    height: 55%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.116);
    background: #B6CCBA;
    background: radial-gradient(at left bottom, #B6CCBA, #92BDC1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.login-container::-webkit-scrollbar{
    display: none;
}

.login-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-form h1{
    width: 80%;
    text-align: left;
    color: #d8ddc6;
    font-size: 1.7em;
}

.login-form-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.login-form-input input{
    width: 75%;
    height: 35px;
    font-size: 1em;
    
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid #d8ddc6;
    border-bottom-width: 1px;
    color: #80837e;
}

.login-form-input input::placeholder{
    color: #80837e;
}

.login-form-input input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.034);
}

.login-form-input input:autofill,
.login-form-input input:autofill:hover, 
.login-form-input input:autofill:focus{
    background-color: rgba(0, 0, 0, 0);
    color: #80837e;
    font-size: 1em;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.login-form-input label{
    width: 75%;
    height: 30px;
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    color: #d8ddc6;
} 

.login-form-input button{
    min-width: 120px;
    max-width: 160px;
    min-height: 50px;
    max-height: 60px;
    margin-top: 20px;
    border-color: #92BDC1;
    background-color: #a0c5c9;
    color: #7aa7ac;
}

.login-form-input button:hover{
    background-color: #92BDC1;
}

.login-form-buttons{
    align-self: flex-end;
}

.login-options-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.login-options-divide-line{
    width: 0px;
    height: 80%;
    border: 1px solid #d8ddc6;
    align-self: center;
}

.login-options-register{
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.login-options-register-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d8ddc6;
}

.login-options-register button{
    min-width: 120px;
    max-width: 160px;
    min-height: 50px;
    max-height: 60px;
    border-color: #B6CCBA;
    background-color: #cdd4ce;
    color: #a5b8a8;
}

.login-options-register button:hover{
    background-color: #B6CCBA;
}

.login-options-accounts-separator {
    position: relative;
    width: 80%;
    margin: 0 auto; /* Para centrar el elemento */
    text-align: center;
}

.login-options-accounts-separator p{
    margin: 0px;
    position: relative;
    z-index: 1;
    color: #d8ddc6;
    font-weight: bold;
    font-size: 1.1em;
}

.login-options-accounts-separator::before,
.login-options-accounts-separator::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 30%;
    height: 1px;
    background-color: #d8ddc6;
    z-index: 0;
}

.login-options-accounts-separator::after {
    left: auto;
    right: 0;
}

.login-options-accounts{
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.login-options-accounts-icon{
    width: 50px;
    height: 50px;
    /* border-radius: 4px; */
    box-shadow: 1px 1px 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.199);
}

.login-options-accounts-icon:hover{
    transform: scale(1.06);
    transition: 1s;
    cursor: pointer;
}

.login-options-accounts-icon img{
    width: 30px;
    height: 30px;
}

.flash-message{
    min-height: 10%;
    max-height: 30%;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: linear-gradient(225deg, #B6CCBA, #92BDC1);
    color: #e15959;
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.5);
    text-align: justify;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.flash-message.show{
    animation: show 2s forwards;
}

.flash-message.remove{
    animation: remove 2s forwards;
}

@media (max-width: 1600px){
    .login-container{
        width: 50%;
    }
}

@media (max-width: 1500px){
    .login-container{
        width: 55%;
    }
    .login-options-accounts-separator::before,
    .login-options-accounts-separator::after {
        width: 27%;
    }
}

@media (max-width: 1400px){
    .login-container{
        width: 60%;
    }
}

@media (max-width: 1300px){
    .login-container{
        width: 65%;
    }
}

@media (max-width: 1200px){
    .login-container{
        width: 70%;
    }
}

@media (max-width: 1100px){
    .login-container{
        width: 75%;
    }
}

@media (max-width: 1000px){
    .login-container{
        width: 80%;
    }
}

@media (max-width: 900px){
    .login-container{
        width: 85%;
    }
}

@media (max-width: 800px){
    .login-container{
        width: 90%;
    }

    .login-options-accounts-separator::before,
    .login-options-accounts-separator::after {
        width: 20%;
    }
}

@media (max-width: 650px){
    .login-container{
        width: 92%;
    }
}

@media (max-width: 600px){
    .login-container{
        width: 94%;
        height: 70%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .login-options-divide-line{
        width: 80%;
        height: 0px;
        align-self: center;
    }

    .login-options-accounts-separator::before,
    .login-options-accounts-separator::after {
        width: 30%;
    }

    .login-options-container{
        height: 80%;
        flex-flow: row wrap;
    }
}

@media(max-width: 550px) and (max-height: 720px){
    .login-container{
        height: 85%;
    }
    .login-form h1{
        margin: 5px;
    }
    .login-form-input button{
        margin: 0px;
    }
}

@media (max-width: 500px), (max-width: 1000px) and (max-height: 550px){
    .login-form{
        padding: 20px;
    }

    .login-form h1{
        margin: 0px;
    }

    .login-container{
        height: auto;
    }

    .login-options-accounts-separator::before,
    .login-options-accounts-separator::after {
        width: 20%;
    }
}