{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='to_do/CSS/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='to_do/CSS/todo.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='to_do/CSS/filters.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='to_do/CSS/options.css')}}">
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='to_do/JS/form_category.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="index-structure">
        <div class="operations">
            <h1>Options: </h1>
            <div class="success-transaction" id="success-transaction"></div>
            <ul class="fa-ul">
                <li> 
                    <span class="fa-li"> 
                        <i class="fa-solid fa-calendar-plus"></i>
                    </span>
                    <a href="{{url_for('activity.create')}}">Add to-do</a>
                </li><br>
                <li> 
                    <span class="fa-li"> 
                        <i class="fa-solid fa-circle-plus"></i>
                    </span>
                    <a href="#" id="add-category">Add category</a>
                </li><br>
            </ul>
        </div>
        <div class="filters">
            <h1>Filters: </h1>
            <div class="filter-list">
                <label class="container"> Planned
                    <input type="radio" name="radio" id="planned_filter" value="planned" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container"> Daily
                    <input type="radio" name="radio" id="daily_filter" value="daily">
                    <span class="checkmark"></span>
                </label>
                <label class="container"> Important
                    <input type="radio" name="radio" id="important_filter" value="filter">
                    <span class="checkmark"></span>
                </label>
                {% for category in categories %}
                    <label class="container">{{category['name']}}
                        <input type="radio" name="radio" id="category{{category['id']}}" value="{{category['id']}}">
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="to_do">
            <ul>
                {% for todo in todos %}
                    <li class="to_do_element">
                        <div class="to_do_element_title">
                            <h3>
                                {% if todo['completed'] == 1 %}
                                    <strike>{{todo['name']}}</strike>
                                    {% else %}
                                    {{todo['name']}}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="to_do_element_description">
                            <p>
                                {{todo['description']}}
                            </p>
                        </div>
                        <div class="to_do_element_options-1">
                            <div class="grid-category-important">
                                <div class="element1">
                                    {% if todo['completed'] == True %}
                                        <input type="checkbox" class="completed" name="completed{{todo['id']}}" id="completed{{todo['id']}}" checked="checked">
                                        <label for="completed{{todo['id']}}">Completed</label>
                                        {% else %}
                                        <input type="checkbox" class="completed" name="completed{{todo['id']}}" id="completed{{todo['id']}}">
                                        <label for="completed{{todo['id']}}">Completed</label>
                                    {% endif %}
                                </div>
                                <div class="element2">
                                    {% if todo['important'] == True %}
                                        <input type="checkbox" class="important" name="important{{todo['id']}}" id="important{{todo['id']}}" checked="checked">
                                        <label for="important{{todo['id']}}">Important</label>
                                    {% else %}
                                        <input type="checkbox" class="important" name="important{{todo['id']}}" id="important{{todo['id']}}" >
                                        <label for="important{{todo['id']}}">Important</label>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        <div class="to_do_element_date">
                            <p>
                                {% if todo['end_at'] is none %}
                                    undefined
                                    <i class="fa-regular fa-clock"></i>
                                {% else %}
                                    {{todo['end_at'].strftime('%d-%m-%Y at %H-%M' )}}
                                    <i class="fa-regular fa-clock"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="to_do_element_options-2">
                            <div class="button-stable">
                                <a href="{{ url_for('activity.update',todo_id = todo['id']) }}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                            </div>
                        </div>
                    </li>
                    {% if not loop.last %}
                        <hr>    
                    {% endif %}
        
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
