body{
    background-image: url('../images/create_back.jpg');
    background-size: cover;
}

form h1{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 50px;
}

.flexbox-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: 68%;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.form-content{
    background-color: rgb(231, 231, 231);
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.form-content label{
    padding: 10px 10px 10px 0px;
    display: block;
    text-align: left;
}

.inputs{
    padding-left: 20%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-category-important{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.element1{
    grid-column: 1;
}

.element2{
    grid-column: 2;
}

.input-category{
    width: 80%;
}

.input-text{
    width: 90%;
}

/* Hide the default checkbox  */
#important{ 
    display:none;
} 

/* Unchecked icon */
#important + label:before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    color: white;;
    letter-spacing: 5px;
}

#important:checked + label:before{
    content: "\f005";
    color: rgb(252, 252, 102);
    letter-spacing: 5px;
}