/* The style for all the child elements for the class to_do_form */

.title{
    width: 100%;
    height: 90%;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: start;
    text-align: left;
}

.title input{
    width: 60%;
    height: 85%;
    font-size: 1.2em;
    margin-right: 10px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(201, 201, 201);
}

.title select{
    padding: 5px;
}

.description{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left;
}

.description textarea {
    width: 100%;
    height: 68%;
    font-size: 1.1em;
    border: 1px solid rgb(197, 197, 197);;
    background-color: rgb(201, 201, 201);
}

.date-hour{
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    gap: 2px
}

.date-hour input{
    padding: 0px;
    font-size: 1em;
}

.save{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
}

.icon-center{
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.icon-right{
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
    /* padding: 10px; */
}

.icon-left{
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: start;
    padding: 10px;
}

