.index-structure{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [filter] 1fr [activities] 3fr [descriptions] 1fr;
    grid-template-rows: [first] 1fr [second] 3fr [third] 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

/* Start options-filters (Collapsed view)*/
.options-filters{
  width: 100%;
  height: 100%;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
}

.options-collapse{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
  overflow-x: auto;
}

.options-collapse::-webkit-scrollbar{
  height: 0px;
  width: 0px;
  scroll-behavior: smooth;
}

.options-collapse::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 8px;
}

.options-collapse::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 8px;
}

.filters-list-collapse{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
}

.filters-list-collapse::-webkit-scrollbar{
  height: 0px;
  width: 0px;
  scroll-behavior: smooth;
}

.filters-list-collapse::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 8px;
}

.filters-list-collapse::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 8px;
}

.filters-list-container{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
}

.filter-button{
  max-width: 150px;
  min-width: 80px;
  max-height: 55px;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid var(--navbar-color);
  background-color: var(--input-background);
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button:hover{
  cursor: pointer;
  background-color: var(--navbar-color);
  color: var(--background-color);
}

.filter-button.selected{
  background-color: var(--navbar-color);
  color: var(--background-color);
}
/* End options-filters (Collapsed view)*/

/* Start options */
.options{
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  grid-row: first;
  grid-column: filter;
  border: 1px solid var(--navbar-color);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: row wrap;
}

.options h1{
  width: 100%;
  margin: 0px;
}

.options a{
  text-decoration: none;
  color: var(--navbar-color);
}
/* End options */

/* Start filters */
.filters{
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  grid-row: second;
  grid-column: filter;
  border: 1px solid var(--navbar-color);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: row wrap;
}

.filters-content{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: row wrap;
  gap: 20px;
}

.filters-title{
  width: 100%;
  height: 10%;
}

.filters-title h1{
  margin: 0px;
  text-align: left;
}
  
.filters-list{
  width: 100%;
  height: calc(90% - 20px);
  overflow-y: auto;
  overflow-x: auto;
}

.filters-list::-webkit-scrollbar{
  height: 4px;
  width: 7px;
}

.filters-list::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 8px;
}

.filters-list::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 8px;
}
  
/* Customize the label (the container) */
.custome-checkmark {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 1em;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custome-checkmark p{
  margin: 0px;
  padding: 0px;
}
    
/* Hide the browser's default radio button */
.custome-checkmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.custome-checkmark:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--input-background);
  border-radius: 50%;
}
  
/* When the radio button is checked, add other background */
.custome-checkmark input:checked ~ .checkmark {
  background-color: var(--navbar-color);
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.custome-checkmark input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the indicator (dot/circle) */
.custome-checkmark .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.filter-description{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
  align-items: start;
  justify-content: start;
  flex-flow: row wrap;
}
/* End filters */

/* Start information */
.info-panel{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    grid-row: first / span 3;
    grid-column: descriptions;
    border: 1px solid var(--navbar-color);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: row wrap;
}

.category-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.category-title{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
}

.category-title h1{
    text-align: left;
    margin: 0px;
}

.options-category{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.delete-category{
  color: rgb(255, 126, 126);
}

.delete-category:hover{
  color: red;
  cursor: pointer;
}

.edit-category{
  color: rgb(78, 194, 240);
}

.edit-category:hover{
  color: rgb(0, 164, 230);
  cursor: pointer;
}

.category-desc{
  width: 100%;
  padding-left: 10px;
}

.category-desc p{
    text-align: left;
}

/* End information */


/* Start to do list  */
.to_do_list{
  width: 100%;
  height: 100%;
  grid-row: first / span 2;
  grid-column: activities;
  border: 1px solid var(--navbar-color);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  overflow-y: auto;
}

.to_do_list::-webkit-scrollbar{
  height: 4px;
  width: 6px;
  scroll-behavior: smooth;
}

.to_do_list::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 8px;
}

.to_do_list::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 8px;
}

.to_do_list ul{
    padding: 0px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.to_do_element{
  display: grid;
  height: 180px;
  width: 95%;
  box-sizing: border-box;
  grid-template-columns: [column-start] 69% [column-end] 30%;
  grid-template-rows: [title] 1fr [description] 2fr [options] 2fr;
  gap: 5px;
  border-bottom: 1px solid var(--navbar-color);
  overflow: scroll;
}
  
.to_do_element::-webkit-scrollbar{
  display: none;
}
  
.to_do_element_title{
  grid-row: title;
  grid-column: column-start;
}
  
.to_do_element_title h3{
  text-align: left;
  margin: 0px;
  padding: 10px;
}
  
.to_do_element_description{
  grid-row: description;
  grid-column: column-start;
}
  
.to_do_element_description p{
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  text-align: justify;
}
  
.to_do_element_options-1{
  grid-row: options;
  grid-column: column-start;
  display: flex;
  justify-content: start;
  align-items: center;
}
  
.to_do_element_options-2{
  grid-row: options;
  grid-column: column-end;
  display: flex;
  gap:5px;
  align-items: flex-start;
  justify-content: flex-end;
}
  
.to_do_element_date{
  grid-row: title;
  grid-column: column-end;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;
}
  
.to_do_element_date p{
  padding: 10px;
  margin: 0px;
  text-align: right;
}
  
.grid-operations{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}
  
.element1{
  grid-column: 1;
}
  
.element2{
  grid-column: 2;
}
  
.element3{
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.element1 p{
  padding: 0;
  margin: 0;
  display: inline;
}
  
.element2 p{
  padding: 0;
  margin: 0;
  display: inline;
}

.element3 i{
  order: 1;
}
  
.element3 p{
  padding: 0;
  margin: 0;
  display: inline;
  order: 2;
}

/* Hide the default checkbox  */
.important{ 
  display:none;
} 
  
/* Unchecked icon */
.important + label:before{
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  color: var(--input-background);
  letter-spacing: 5px;
  font-size: 1.1em;
}
  
.important:checked + label:before{
  content: "\f005";
  color: rgb(255, 230, 0);
  letter-spacing: 5px;
}
    
/* Hide the default checkbox  */
.completed{ 
  display:none;
} 
  
/* Unchecked icon */
.completed + label:before{
  font-family: FontAwesome;
  display: inline-block;
  content: "\f0c8";
  color: var(--input-background);
  letter-spacing: 5px;
}
  
/* Checked icon */
.completed:checked + label:before{
  content: "\f14a";
  letter-spacing: 5px;
  color: var(--navbar-color);
}
/* End to do list */

/* Start to do form */
.todo-form{
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  grid-row: third;
  grid-column: activities;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: grid;
  grid-template-rows: [first] minmax(0px,2fr) [second] minmax(0px,3fr);
  grid-template-columns: [inputs] minmax(0px, 2fr) [options] minmax(0px,1.4fr);
  grid-auto-flow: dense;
  text-align: center;
}

/* Hide Scroll bar */
.todo-form::-webkit-scrollbar{
  display: none;
}

.todo-form-header{
  padding: 10px;
  box-sizing: border-box;
  color: var(--navbar-color);
  display: none;
  align-items: center;
  justify-content: flex-start;
}

.todo-form-header h2{
  margin: 0px;
  text-align: left;
}

.todo-title{
  width: 100%;
  height: 90%;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-content: start;
  justify-content: start;
  text-align: left;
}

.title-input{
  width: 50%;
  height: 80%;
  padding-left: 10px;
  font-size: 1.2em;
  border-radius: 8px;
  border: 0px solid var(--navbar-color);
  background-color: var(--input-background);
  color: var(--navbar-color);
}

.title-input::placeholder{
  padding-left: 5px;
  color: var(--input-placeholder);
}

.title-input:focus{
  padding-left: 10px;
  outline: none;
  color: var(--navbar-color);
}

.floating-todo-form-category-dropdown{
  position: relative;
  z-index: 2;
  width: calc(100% - 20px);
  height: 60px;
  box-sizing: border-box;
  padding-left: 5px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.todo-form-category-dropdown{
  position: relative;
  z-index: 2;
  height: 85%;
  box-sizing: border-box;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.category-dropdown-button{
  position: relative;
  width: 120px;
  height: 45px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  background-color: var(--input-background);
  color: var(--navbar-color);
  border: 0px solid var(--navbar-color);
}

.category-dropdown-button::before,
.category-dropdown-button::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: .8rem;
  pointer-events: none;
}

.category-dropdown-button::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--navbar-color);
  top: 40%;
}

.category-dropdown-button::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--navbar-color);
  top: 55%;
}

.categories-dropdown-container{
  position: absolute;
  z-index: 1;
  bottom: 45px;
  left: 70px;
  width: 200px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  background-color: var(--input-background);
  display: none;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.categories-dropdown-container.active{
  display: flex;
  animation: show-category-dropdown 1s forwards;
}

.categories-dropdown-container.hide{
  display: flex;
  animation: remove-category-dropdown 1s forwards;
}

.categories-dropdown-container::-webkit-scrollbar{
  height: 4px;
  width: 9px;
}

.categories-dropdown-container::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 0px 8px 8px 0px;
}

.categories-dropdown-container::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 0px 8px 8px 0px;
}

.categories-dropdown-container:focus-within {
  box-shadow: 0 10px 25px var(--navbar-color);
}

.categories-dropdown{
  width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;;
  background-color: var(--input-background);
  color: var(--navbar-color);
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-flow: row wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories-dropdown li{
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.categories-dropdown li:hover{
  background-color: var(--input-placeholder);
  cursor: pointer;
}

.categories-dropdown input{
  position: absolute;
  width: 100%;
  height: 45px;
  margin: 0px;
  left: 0;
  opacity: 0;
}

.categories-dropdown input:focus ~ label{
  background-color: var(--input-placeholder);
}

.categories-dropdown input:checked ~ label{
  background-color: var(--input-placeholder);

}

.categories-dropdown li label{
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.floating-todo-form-important{
  display: none !important;
}

.todo-form-description{
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.todo-form-description textarea {
  width: 100%;
  height: 68%;
  font-size: 1em;
  border: 0px solid var(--navbar-color);
  background-color: var(--input-background);
  color: var(--navbar-color);
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  resize: none;
}

.todo-form-description textarea::placeholder{
  color: var(--input-placeholder);
}

.todo-form-description textarea:focus{
  outline: none;
}

.todo-form-description textarea::-webkit-scrollbar{
  height: 4px;
  width: 7px;
}

.todo-form-description textarea::-webkit-scrollbar-track{
  background-color: var(--input-placeholder);
  border-radius: 0px 8px 8px 0px;
}

.todo-form-description textarea::-webkit-scrollbar-thumb{
  background-color: var(--navbar-color);
  border-radius: 0px 8px 8px 0px;
}

.todo-form-date-hour{
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 2px
}

.todo-form-date-hour label{
  display: none;
}

.todo-form-date-hour input{
  padding: 0px;
  font-size: 1em;
  color: var(--navbar-color);
  background-color: var(--input-background);
  border: 0px solid var(--navbar-color);
  border-radius: 8px;
  padding: 10px;
}

.todo-form-date-hour input::placeholder{
  color: var(--input-placeholder);
}

.todo-form-date-hour input:focus{
  outline: none;
}

.todo-form-buttons{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.edit-todo{
  display: none;
}

.cancel-todo{
  display: none;
}

.icon-center{
  font-size: 1.4em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}

.icon-right{
  font-size: 1.4em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: end;
  /* padding: 10px; */
}

.icon-left{
  font-size: 1.4em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: start;
  padding: 10px;
}
/* End to do form */

/* Start floating category form */
.floating-category-form{
  width: 35%;
  height: 50%;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 33%;
  background-color: var(--background-color);
  border: 1px solid var(--navbar-color);
  border-radius: 8px;
  box-shadow: 0px 4px 50px var(--navbar-color);
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.floating-category-form.active{
  display: flex;
  animation: show-category-form 1s forwards;
}

.floating-category-form.hide{
  display: flex;
  animation: remove-category-form 1s forwards;
}

.category-form-title{
  width: 100%;
  height: 25%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.category-form-title label{
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.category-form-title input{
  width: 55%;
  height: 40px;
  padding-left: 5px;
  background-color: var(--input-background);
  color: var(--navbar-color);
  border: 0px solid var(--navbar-color);
  border-radius: 8px;
  font-size: 1em;
}

.category-form-title input:focus{
  outline: none;
}

.category-form-title input::placeholder{
  color: var(--input-placeholder);
}

.category-form-description{
  width: 100%;
  height: 55%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.category-form-description label{
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.category-form-description textarea {
  width: 80%;
  height: 70%;
  font-size: 1em;
  border: 0px solid var(--navbar-color);
  background-color: var(--input-background);
  color: var(--navbar-color);
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  resize: none;
}

.category-form-description textarea::placeholder{
  color: var(--input-placeholder);
}

.category-form-description textarea:focus{
  outline: none;
}

.category-form-buttons{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.category-form-buttons p{
  padding-left: 5px;
}
/* End floating category form */

/* Start floating dialog */
.floating-dialog{
  width: 25%;
  height: 250px;
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: calc(50% - 145px);
  left: calc(35% + 40px);
  color: var(--navbar-color);
  background-color: var(--background-color);
  border: 1px solid var(--navbar-color);
  border-radius: 8px;
  box-shadow: 0px 4px 50px var(--navbar-color);
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.floating-dialog.active{
  display: flex;
  animation: show-floating-dialog 1s forwards;
}

.floating-dialog.hide{
  display: flex;
  animation: remove-floating-dialog 1s forwards;
}

.floating-dialog-message{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-dialog-message p{
  text-align: center;
}

.floating-dialog-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}
/* End floating dialog */

@media (max-width: 1600px){
  /* Adjust index grid structure to non-display the filter description in a third row */
  .index-structure{
    grid-template-columns: [filter] 1fr [activities] 3fr;
  }

  /* Hide filter description */
  .info-panel{
    display: none;
  }

  /* Create a grid to display the filter list and the filter description */
  .filters{
    box-sizing: border-box;
    grid-row: second / span 2;
    grid-column: filter;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [filters] 50% [description] 50%;
    gap: 20px;
  }
  .filters-content{
    grid-row: filters;
  }
  .filter-description{
    display: flex;
    grid-row: description;
  }

  /* Adjust category form size */
  .floating-category-form{
    width: 39%;
  }
}

@media (max-width: 1400px){
  /* Adjust index grid size */
  .index-structure{
    grid-template-columns: [filter] 1fr [activities] 4fr;
  }

  /* Adjust category form size */
  .floating-category-form{
    width: 45%;
    left: 29%;
  }

  /* Adjust floating dialog size */
  .floating-dialog{
    width: 35% !important;
    left: 35%;
  }
}

@media (max-width: 1200px){
  /* Modify index grid structure to adjust to the collapsed view */
  .index-structure{
    grid-template-columns: [activities] 100%;
    grid-template-rows: [first] 60px [second] 4fr [third] 1fr;
  }
  
  /* Hide the normal view filters and show collapsed filters */
  .filters{
    display: none;
  }
  .options{
    display: none;
  }
  .to_do_list{
    grid-row: second;
  }

  .options-filters{
    display: flex;
    grid-row: first;
  }

  /* Hide the button to create a to-do */
  .options-collapse button:nth-child(1){
    display: none;
  }

  /* Adjust floating category form */
  .floating-category-form{
    width: 50%;
    left: 24%;
  }
}

@media (max-width: 960px){
  /* Adjust the title input on the to-do form to the available space */
  .title-input{
    width: 50%;
  }

  /* Adjust category form size */
  .floating-category-form{
    width: 60%;
    left: 19%;
  }

  /* Adjust floating dialog size */
  .floating-dialog{
    width: 50% !important;
    left: 25%;
  }
}


@media (max-width: 850px){
  /* Enable to move the overflow content to another row */
  .options-filters{
    flex-flow: row wrap;
    gap: 5px;
  }

  /* Set the options container to use the 100% width */
  .options-collapse{
    width: 100%;
    height: 50%;
  }

  /* Show the button to create a to-do */
  .options-collapse button:nth-child(1){
    display: flex;
  }
  
  /* Set the filters container to use the 100% width */
  .filters-list-collapse{
    width: 100%;
    height: 50%;
  }

  /* Change to-do form position and structure*/
  .todo-form{
    width: 70%;
    height: auto;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 15%;
    background-color: var(--background-color);
    border-color: rgb(175, 175, 175);
    box-shadow: 0px 4px 50px var(--navbar-color);
    display: none;
    grid-template-columns: [inputs] 65% [buttons] 30%;
    grid-template-rows: [header] 50px [title] 50px [category] 50px [date-hour] 50px [description] 120px [buttons-row] 1fr;
    gap: 10px;
  }

  .todo-form.active{
    display: grid;
    animation: show-floating-dialog 1s forwards;
  }

  .todo-form.hide{
    display: grid;
    animation: remove-floating-dialog 1s forwards;
  }

  .todo-form-header{
    grid-column: inputs / buttons 2;
    grid-row: header;
    display: inline;
  }

  .todo-form-title{
    grid-column: inputs / buttons 2;
    grid-row: title;
    width: calc(100% - 20px);
    height: 60px;
    align-content: start;
    justify-content: start;
    text-align: left;
    flex-wrap: nowrap;
  }

  .title-input{
    width: 70%;
    height: 45px;
  }

  .floating-todo-form-important{
    display: inline !important;
  }

  .todo-form-important{
    display: none !important;
  }

  .todo-form-category-dropdown{
    display: none;
  }

  .floating-todo-form-category-dropdown{
    grid-column: inputs;
    grid-row: category;
    display: flex;
  }

  .categories-dropdown-container{
    margin-bottom: 8px;
    left: 40px;
  }

  .categories-dropdown-container::-webkit-scrollbar{
    height: 4px;
    width: 7px;
  }

  .categories-dropdown-container.active{
    animation: show-todo-floating-category-dropdown 1s forwards;
  }
  
  .categories-dropdown-container.hide{
    animation: remove-todo-floating-category-dropdown 1s forwards;
  }

  .todo-form-date-hour{
    grid-column: inputs / buttons 2;
    grid-row: date-hour;
    position: relative;
    justify-content: flex-start;
    gap: 5px;
    overflow-x: auto;
  }
  
  .todo-form-date-hour input{
    position: relative;
    width: 150px;
  }

  .todo-form-date-hour label {
      display: inline;
      position: absolute;
      left: 10px;
      top: 10px;
      transition: 0.2s ease all;
      pointer-events: none;
      font-weight: 500;
      color: var(--input-placeholder);
      overflow-x: auto;
  }

  .todo-form-date-hour input[type="time"] + label {
    left: 185px;
  }
  
  .todo-form-date-hour input[type="date"],
  .todo-form-date-hour input[type="time"] {
      color: transparent;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  .todo-form-date-hour input:focus + label,
  .todo-form-date-hour input.filled + label{
      top: -15px;
      font-size: 12px;
  }

  .todo-form-date-hour input.filled{
    color: var(--navbar-color);
    text-shadow: 0 0 0;
  }

  .todo-form-date-hour::-webkit-scrollbar{
    height: 4px;
    width: 7px;
  }

  .todo-form-date-hour::-webkit-scrollbar-track{
    background-color: var(--input-placeholder);
    border-radius: 8px;
  }
  
  .todo-form-date-hour::-webkit-scrollbar-thumb{
    background-color: var(--navbar-color);
    border-radius: 8px;
  }

  .todo-form-description{
    grid-column: inputs / buttons 2;
    grid-row: description;
    width: 90%;
  }

  .todo-form-description textarea{
    width: 100%;
    height: calc(100% - 20px);
  }

  .todo-form-buttons{
    grid-column: inputs / buttons 2;
    grid-row: buttons-row;
    width: calc(100% - 10px);
    gap: 10px;
  }

  .cancel-todo{
    display: flex;
  }

  /* End change todo form structure and position */

  /* Adjust index grid structure */
  .index-structure{
    grid-template-rows: [first] 120px [second] 1fr;
  }

  /* Start change to-do list style */
  
  /* List style */
  .to_do_list{
    border: 0px solid;
    box-shadow: 0px 0px 0px;
  }
  .to_do_list ul{
    gap: 10px;
    margin: 20px 0px 20px 0px;
  } 

  .to_do_list::-webkit-scrollbar-track{
    border-radius: 8px;
  }
  .to_do_list::-webkit-scrollbar-thumb{
    border-radius: 8px;
  }

  /* To-do element grid structure */
  .to_do_element{
    height: 200px;
    padding-top: 5px;
    grid-template-columns: [column-start] 60% [column-end] 39%;
    grid-template-rows: [title] 1fr [description] 2fr [options] 2fr;
    gap: 0px;
  }

  /* To-do title */
  .to_do_element_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  /* To-do buttons delete and edit container */
  .to_do_element_options-2{
    grid-row: options;
    grid-column: column-end;
    align-items: center;
    align-items: center;
    gap: 20px;
  }

  .to_do_element_options-2 button p{
    display: none;
  }

  .to_do_element_options-2 button{
    min-width: 10px;
    max-width: 20px;
    min-height: 10px;
    max-height: 20px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px solid;
  }

  .to_do_element_options-2 button i{
    font-size: 1.5em;
  }

  /* To-do date */
  .to_do_element_date{
    grid-row: title;
    grid-column: column-end;
    align-items: center;
    justify-content: flex-end;
  }
  
  /* To-do description */
  .to_do_element_description{
    grid-row: description;
    grid-column: column-start / span 2;
  }

  .to_do_element_description p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  /* Change grid to flexbox to display the important, completed and category elements*/
  .grid-operations{
    max-width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Completed container */
  .element1{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .element1 label p{
    display: none;
  }

  /* Important container */
  .element2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .element2 label p{
    display: none;
  }

  /* Category container */
  .element3{
    height: 30px;
  }
  .element3 label p{
    display: none;
  }

  /* End change to-do list style */
}

@media (max-width: 700px){
  /* Adjust category form size */
  .floating-category-form{
    width: 80%;
    left: 9%;
  }

  /* Adjust floating dialog size */
  .floating-dialog{
    width: 80% !important;
    left: 10%;
  }
}

@media (max-width: 650px){
  .todo-form{
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 550px){
  /* Adjust category form size */
  .floating-category-form{
    width: 90%;
    left: 4%;
  }

  /* Adjust floating dialog size */
  .floating-dialog{
    width: 90% !important;
    left: 5%;
    top: calc(50% - 100px);
  }

  @media (max-width: 650px){
    .todo-form{
      width: 95%;
      left: 2.5%;
    }
  }
}