/* In this file I structure the section content  */

.index-structure{
  width: 100%;
  height: 100%;
  padding: 2px;
  display: grid;
  grid-template-rows: [row-options] minmax(0px,2fr) [row-filter] minmax(0px,5fr) [row-end] minmax(0px,1fr);
  grid-template-columns: [column-nav]  minmax(210px,1fr) [column-content] minmax(700px, 5fr) [column-info] minmax(210px,2fr);
  grid-auto-flow: dense; 
  gap: 10px 10px;
  text-align: center;
  overflow: scroll;
}

/* Hide scroll bar */
.index-structure::-webkit-scrollbar{
  display: none;
}

.options{
  grid-row: row-options;
  grid-column: column-nav;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  overflow: scroll;
}

.options:hover{
  transform: scale(1.01);
  transition: .5s 0s;
}

/* Hide scroll bar */
.options::-webkit-scrollbar{
  display: none;
}

.filters{
  grid-row: row-filter;
  grid-column: column-nav;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  overflow: scroll;
}

.filters:hover{
  transform: scale(1.01);
  transition: .5s 0s;
}

/* Hide scroll bar */
.filters::-webkit-scrollbar{
  display: none;
}

.info-panel{
  width: 99%;
  height: 99%;
  grid-row: row-options / row-end 2;
  grid-column: column-info; 
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  overflow: scroll;
  display: grid;
}

.info-panel::-webkit-scrollbar{
  display: none;
}


.to_do{
  height: 100%;
  grid-row: row-end / row-options ;
  grid-column: column-content;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  overflow: scroll;
}

/* Hide scroll bar */
.to_do::-webkit-scrollbar{
  display: none;
}

.to_do ul{
  list-style: none;
  margin: 0px;
  padding: 10px;
}

.to_do_form{
  width: 100%;
  height: 100%;
  grid-row: row-end;
  grid-column: column-content;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  overflow: scroll;
  display: grid;
  grid-template-rows: [row-start] minmax(0px,2fr) [row-end] minmax(0px,3fr);
  grid-template-columns: [column-inputs-text] minmax(0px, 2fr) [column-button] minmax(0px,1.4fr);
  grid-auto-flow: dense;
  text-align: center;
}

/* Hide Scroll bar */
.to_do_form::-webkit-scrollbar{
  display: none;
}

