.category-desc {
    padding: 20px;
}

.category-desc h1{
    text-align: left;
}

.category-desc p{
    text-align: justify;
}

.success-transaction{
    display: inline;
    margin-left: 20px;
    color: rgb(0, 173, 66);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}