.to_do_element{
    display: grid;
    height: 170px;
    grid-template-columns: [column-start] 2fr [column-end] 1fr;
    grid-template-rows: [title] 1fr [description] 2fr [options] 2fr;
    gap: 5px;
    border-bottom: 1px solid rgb(175, 175, 175);
    overflow: scroll;
  }
  
  .to_do_element::-webkit-scrollbar{
    display: none;
  }
  
  .to_do_element_title{
    grid-row: title;
    grid-column: column-start;
  }
  
  .to_do_element_title h3{
    text-align: left;
    margin: 0px;
    padding: 10px;
  }
  
  .to_do_element_description{
    grid-row: description;
    grid-column: column-start / column-end 2;
  }
  
  .to_do_element_description p{
    padding: 5px 10px 10px 30px;
    margin: 0;
    text-align: justify;
  }
  
  .to_do_element_options-1{
    grid-row: options;
    grid-column: column-start;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .to_do_element_date{
    grid-row: title;
    grid-column: column-end;
  }
  
  .to_do_element_date p{
    padding: 10px 10px 10px 30px;
    margin: 0px;
    text-align: right;
  }
  
  .to_do_element_options-2{
    grid-row: options;
    grid-column: column-end;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .grid-operations{
    min-width: 50%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  
  .element1{
    grid-column: 1;
  }
  
  .element2{
    grid-column: 2;
  }

  .element3{
    grid-column: 3;
  }

/* Hide the default checkbox  */
.important{ 
    display:none;
  } 
  
  /* Unchecked icon */
.important + label:before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    color: white;;
    letter-spacing: 5px;
  }
  
.important:checked + label:before{
    content: "\f005";
    color: rgb(255, 230, 0);
    letter-spacing: 5px;
  }
  
  /* Hide the default checkbox  */
.completed{ 
    display:none;
  } 
  
  /* Unchecked icon */
.completed + label:before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0c8";
    color: white;
    letter-spacing: 5px;
  }
  
.completed:checked + label:before{
    content: "\f14a";
    letter-spacing: 5px;
    color: black;
  }