<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %} - To Do List</title>
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animations.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='text.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='inputs.css')}}">
    {% block styles %}{% endblock %}
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/36c2a6041f.js" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    {% block scripts %}{% endblock %}
</head>
<body>
    <header class="flex-box-nav">
        <div class="title-nav">
            <h1>
                <a href="{{ url_for('activity.index') }}">
                    To Do List
                </a>
            </h1>
        </div>
        <div class="nav-list">
            <ul>
                {% if g.user %}
                    <li>
                        <p>
                            {{g.user['username']}}
                        </p>
                        <i class="fa-solid fa-user fa-2xl"></i>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.logout') }}">
                            <i class="fa-solid fa-right-from-bracket fa-2xl" style="color: black;"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% for message in get_flashed_messages() %}
        <div class="flash">
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>
</body>
</html>