<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %} - To Do List</title>
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animations.css')}}">
    {% block styles %}{% endblock %}
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/36c2a6041f.js" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="/static/base.js"></script>
    
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-title">
            <h1>To-do List</h1>
        </div>
        <div class="navbar-list">
            <ul>
                {% if g.user %}
                    <li class="navbar-username">
                        <p>
                            {{g.user['username']}}
                        </p>
                    </li>
                    <li class="navbar-picture" id="navbar-picture">
                        <span>
                            <i class="fa-solid fa-user fa-2xl"></i>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <ul class="floating-navbar-menu" id="floating-navbar-menu"> 
            <li>
                <p>
                    Profile
                </p>
                <span></span>
            </li>
            <li>
                <p>
                    Calendar
                </p>
                <span></span>
            </li>
            <li>
                <p>
                    Logout
                </p>
            </li>
        </ul>
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>
</html>