{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='to_do/CSS/index.css')}}">
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='to_do/JS/index.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='to_do/JS/filters.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='to_do/JS/requests.js')}}" type="module"></script>
{% endblock %}

{% block content %}
    <div class="index-structure">
        <!-- Start Options with Filters (movil view) -->
        <div class="options-filters">
            <div class="options-collapse" id="options-collapse">
                <button class="button-rounded-layout success" id="mobile-add-todo">
                    <i class="fa-solid fa-book"></i>
                    <p>Add to-do</p>
                </button>
                <button class="button-rounded-layout success" id="mobile-add-category">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Add category</p>
                </button>
            </div>
            <div class="filters-list-collapse" id="filter-list-collapse">
                <!-- Start default filters -->
                <div id="default-filters-collapse" class="filters-list-container">
                    <div class="filter-button selected" id="filter-collapsed-all" data-value="all" name="filters-collapsed"> 
                        All
                    </div>
                    <div class="filter-button" id="filter-collapsed-planned" data-value="planned" name="filters-collapsed"> 
                        Planned
                    </div>
                    <div class="filter-button" id="filter-collapsed-today" data-value="today" name="filters-collapsed">  
                        Today
                    </div>
                    <div class="filter-button" id="filter-collapsed-important" data-value="important" name="filters-collapsed"> 
                        Important
                    </div>
                    <div class="filter-button" id="filter-collapsed-completed" data-value="completed" name="filters-collapsed"> 
                        Completed
                    </div>
                </div>
                <!-- End default filters -->
                <!-- Start custome filters (By category) -->
                <div id="custome-filters-collapse" class="filters-list-container">
                    {% for category in categories %}
                        {% if category['id'] != 1 %}
                            <div class="filter-button" id="filter-collapsed-category{{category['id']}}" data-value="{{category['id']}}" name="filters-collapsed"> 
                                {{category['name']}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- End custome filters-->
            </div>
        </div>
        <!-- End options with filters -->

        <!-- Start Options -->
        <div class="options">
            <h1>Options: </h1>
            <ul class="fa-ul">
                <li> 
                    <span class="fa-li"> 
                        <i class="fa-solid fa-circle-plus"></i>
                    </span>
                    <a href="#" id="add-category">Add category</a>
                </li><br>
            </ul>
        </div>
        <!-- End Options -->

        <!-- Start Filters -->
        <div class="filters">
            <div class="filters-content">
                <div class="filters-title">
                    <h1>Filters: </h1>
                </div>
                <div class="filters-list" id="filter-list">
                    <!-- Start default filters -->
                    <div id="default-filters">
                        <label class="custome-checkmark"> All
                            <input type="radio" id="filter-all" name="filter" value="all" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custome-checkmark"> Planned
                            <input type="radio" id="filter-planned" name="filter" value="planned">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custome-checkmark"> Today
                            <input type="radio" id="filter-today" name="filter" value="today">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custome-checkmark"> Important
                            <input type="radio" id="filter-important" name="filter" value="important">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custome-checkmark"> Completed
                            <input type="radio" id="filter-completed" name="filter" value="completed">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- End default filters -->
                    <!-- Start custome filters (By category) -->
                    <div id="custome-filters">
                        {% for category in categories %}
                            {% if category['id'] != 1 %}
                            <label class="custome-checkmark" id="label-category{{category['id']}}">
                                <input type="radio" name="filter" id="category{{category['id']}}" value="{{category['id']}}">
                                <span class="checkmark"></span>
                                <p id="label-category-{{category['id']}}-name">{{category['name']}}</p>
                            </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End custome filters-->
                </div>
            </div>
            <div class="filter-description" id="filter-description">
                <div class="category-info">
                    <div class="category-title">
                        <div id="category-title-collapse">
                            <h1>All </h1>
                        </div>
                        <!-- Container to put the buttons edit and delete category -->
                        <div class="options-category" id="options-category-collapse">
                        </div>
                    </div>
                    <div class="category-desc" id="category-desc-collapse">
                        <p>
                            Here you can show all your activiaties, doesn't matter the category, if they are completed, uncompleted, important, not important, etc
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End filters -->

        <!-- Start info panel -->
        <div class="info-panel" id="info-panel">
            <div class="category-info" id="category-info">
                <div class="category-title">
                    <div id="category-title">
                        <h1>All </h1>
                    </div>
                    <!-- Container to put the buttons edit and delete category -->
                    <div class="options-category" id="options-category">
                    </div>
                </div>
                <div class="category-desc" id="category-desc">
                    <p>
                        Here you can show all your activiaties, doesn't matter the category, if they are completed, uncompleted, important, not important, etc
                    </p>
                </div>
            </div>
        </div>
        <!-- End info panel -->

        <!-- Start to-do list  -->
        <div class="to_do_list">
            <!-- List to show all the to-do -->
            <ul id="to_do-list-container">
                {% for todo in todos %}
                    <!-- A single to-do -->
                    <li class="to_do_element" id="to_do_element_{{todo['id']}}">
                        <!-- Title -->
                        <div class="to_do_element_title" id="to_do_element_title_{{todo['id']}}">
                            <h3>
                                {% if todo['completed'] == 1 %}
                                    <strike>{{todo['name']}}</strike>
                                    {% else %}
                                    {{todo['name']}}
                                {% endif %}
                            </h3>
                        </div>
                        <!-- Description -->
                        <div class="to_do_element_description"  id="to_do_element_description_{{todo['id']}}">
                            <p>
                                {{todo['description']}}
                            </p>
                        </div>
                        <!-- Important, completed and category -->
                        <div class="to_do_element_options-1">
                            <div class="grid-operations">
                                <div class="element1">
                                    {% if todo['completed'] == True %}
                                        <input type="checkbox" class="completed" name="completed{{todo['id']}}" id="completed{{todo['id']}}" checked="checked" onclick="changeTags({{todo['id']}})">
                                        <label for="completed{{todo['id']}}"><p>Completed</p></label>
                                        {% else %}
                                        <input type="checkbox" class="completed" name="completed{{todo['id']}}" id="completed{{todo['id']}}" onclick="changeTags({{todo['id']}})">
                                        <label for="completed{{todo['id']}}"><p>Completed</p></label>
                                    {% endif %}
                                </div>
                                <div class="element2">
                                    {% if todo['important'] == True %}
                                        <input type="checkbox" class="important" name="important{{todo['id']}}" id="important{{todo['id']}}" checked="checked" onclick="changeTags({{todo['id']}})">
                                        <label for="important{{todo['id']}}"><p>Important</p></label>
                                    {% else %}
                                        <input type="checkbox" class="important" name="important{{todo['id']}}" id="important{{todo['id']}}" onclick="changeTags({{todo['id']}})">
                                        <label for="important{{todo['id']}}"><p>Important</p></label>
                                    {% endif %}
                                </div>
                                <div class="element3">
                                    {% if todo['category'] != 'null' %}
                                        <i class="fa-solid fa-layer-group"></i>
                                        <p>{{todo['category']}}</p>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="to_do_element_date">
                            <p>
                                {% if todo['end_at'] is none %}
                                    undefined
                                {% else %}
                                    {{todo['end_at']}}
                                {% endif %}
                            </p>
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <!-- Buttons edit and delete -->
                        <div class="to_do_element_options-2" id="to_do_element_options-2-{{todo['id']}}">
                            <button class="button-layout info " data-id="{{todo['id']}}" id="edit{{todo['id']}}" onclick="updateTodoClick(this)">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <p>Edit</p>
                            </button> 
                            <button  class="button-layout danger" data-id="{{todo['id']}}" id="delete{{todo['id']}}" onclick="showAlertDeleteTodo(this)">
                                <i class="fa-solid fa-trash"></i>
                                <p>Delete</p>
                            </button>
                        </div>
                    </li>
        
                {% endfor %}
            </ul>
        </div>
        <!-- End to-do list -->

        <!-- Start form to create a todo -->
        <div class="todo-form" id="todo-form">
            <!-- Header-->
            <div class="todo-form-header">
                <h2>Create a to-do</h2>
            </div>
            <!-- Title-->
            <div class="todo-title">
                <!-- Title input -->
                <input class="title-input" type="text" name="name" id="name" placeholder="Title">
                <!-- Category -->
                <div class="todo-form-category-dropdown">
                    <div class="icon-center">
                        <i class="fa-solid fa-layer-group fa-lg"></i>
                    </div>
                    <button class="category-dropdown-button" id="category-dropdown-button">
                        Undefined
                    </button>
                    <div class="categories-dropdown-container" id="categories-dropdown-container">
                        <ul name="categories-dropdown" id="categories-dropdown" class="categories-dropdown">
                            {% for category in categories %}
                            <li id="li-category-{{category['id']}}">
                                {% if loop.index0 == 0 %}
                                    <input type="radio" name="category" id="category-{{category['id']}}" value="{{category['id']}}" checked>
                                    <label for="category-{{category['id']}}" id="label-category-{{category['id']}}">{{category['name']}}</label>
                                {% else %}    
                                    <input type="radio" name="category" id="category-{{category['id']}}" value="{{category['id']}}">
                                    <label for="category-{{category['id']}}" id="label-category-{{category['id']}}">{{category['name']}}</label>
                                {% endif %}    
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Floating to-do form important -->
                <div class="icon-center floating-todo-form-important">
                    <input type="checkbox" class="important" name="floating-important" id="floating-important">
                    <label for="floating-important"></label>
                </div>
            </div>
            <!-- Floating todo form category -->
            <div class="floating-todo-form-category-dropdown" id="floating-todo-form-category-dropdown">
                <div class="floating-category-dropdown-icon">
                    <i class="fa-solid fa-layer-group fa-lg"></i>
                </div>
                <button class="category-dropdown-button" id="floating-category-dropdown-button">
                    Undefined
                </button>
                <div class="categories-dropdown-container hide" id="floating-categories-dropdown-container">
                    <ul name="floating-category" id="floating-categories-dropdown" class="categories-dropdown">
                        {% for category in categories %}
                        <li id="floating-li-category-{{category['id']}}">
                            {% if loop.index0 == 0 %}
                                <input type="radio" name="floating-category" id="floating-category-{{category['id']}}" value="{{category['id']}}" checked>
                                <label for="floating-category-{{category['id']}}" id="floating-label-category-{{category['id']}}">{{category['name']}}</label>
                            {% else %}    
                                <input type="radio" name="floating-category" id="floating-category-{{category['id']}}" value="{{category['id']}}">
                                <label for="floating-category-{{category['id']}}" id="floating-label-category-{{category['id']}}">{{category['name']}}</label>
                            {% endif %}    
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Date and hour -->
            <div class="todo-form-date-hour">
                <input type="date" name="date" id="date">
                <label for="date">Date</label>
                <input type="time" name="time" id="time"> 
                <label for="time">Time</label> 
            </div>
            <!-- Description -->
            <div class="todo-form-description">
                <textarea name="description" id="description" cols="100" rows="3" placeholder="Description"></textarea>
            </div>
            <!-- Important and Save -->
            <div class="todo-form-buttons" id="save">
                <div class="icon-center todo-form-important" id="tags">
                    <input type="checkbox" class="important" name="important" id="important">
                    <label for="important"></label>
                </div>
                <button class="button-layout danger edit-todo" id="edit-todo">
                    <i class="fa-solid fa-file-pen"></i>
                    <p>Edit</p>
                </button>
                <button class="button-layout danger cancel-todo" id="cancel-todo">
                    <i class="fa-solid fa-xmark"></i>
                    <p>Cancel</p>
                </button>
                <button class="button-layout success" id="save-todo">
                    <i class="fa-regular fa-floppy-disk"></i>
                    <p>Save</p>
                </button>
            </div>
        </div>
        <!-- End form to create a todos -->
    </div>
    <!-- Start floating category form -->
    <div class="floating-category-form" id="floating-category-form">
        <div class="category-form-title">
            <label for="category-form-title">Title:</label>
            <input type="text" placeholder="Title" id="category-form-title" name="category-form-title">
        </div>
        <div class="category-form-description">
            <label for="category-form-description">Description:</label>
            <textarea type="text" placeholder="Description" id="category-form-description" name="category-form-description"></textarea>
        </div>
        <div class="category-form-buttons" id=category-form-buttons>
            <button class="button-layout danger" id="cancel-category">
                <i class="fa-solid fa-xmark"></i>
                <p>Cancel</p>
            </button>
            <button class="button-layout success" id="save-category">
                <i class="fa-regular fa-floppy-disk"></i>
                <p>Save</p>
            </button>
            <button class="button-layout info" id="edit-category" style="display: none;">
                <i class="fa-regular fa-pen-to-square"></i>
                <p>Edit</p>
            </button>
        </div>
    </div>
{% endblock %}
