@keyframes show{
  from {
    opacity: 0; /* Comienza completamente oculto */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

@keyframes remove {
  from {
    opacity: 1; /* Comienza completamente visible */
  }
  to {
    opacity: 0; /* Termina completamente oculto */
  }
}

@keyframes show-navbar {
  from {
    opacity: 0; /* Comienza completamente oculto */
    transform: scale(0);
    transform-origin: top right;
  }
  to {
    opacity: 1; /* Termina completamente visible */
    transform: scale(1);
    transform-origin: top right;
  }
}

@keyframes remove-navbar {
  from {
    opacity: 1; /* Comienza completamente visible */
    transform: scale(1);
    transform-origin: top right;
  }
  to {
    opacity: 0; /* Termina completamente oculto */
    transform: scale(0);
    transform-origin: top right;
  }
}

@keyframes show-category-dropdown {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
  }to{
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom left;
  }
}

@keyframes remove-category-dropdown {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom left;
  }to{
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

@keyframes show-todo-floating-category-dropdown{
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
  }to{
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom left;
  }
}

@keyframes remove-todo-floating-category-dropdown{
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom left;
  }to{
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

@keyframes show-category-form {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }to{
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }
}

@keyframes remove-category-form {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }to{
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }
}

@keyframes show-floating-dialog{
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }to{
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }
}

@keyframes remove-floating-dialog {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }to{
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }
}

@keyframes input-login {
  from{
    background-color: rgba(0,0,0,0);
    color: #80837e;
  }to{
    background-color: rgba(0, 0, 0, 0);
    color: #80837e;
  }
}