.button-rounded-layout{
    max-width: 120px;
    min-width: 80px;
    max-height: 55px;
    min-height: 50px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button-layout{
    max-width: 120px;
    min-width: 80px;
    max-height: 45px;
    min-height: 40px;
    border: 2px solid;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-layout:hover,
.button-rounded-layout:hover{
    cursor: pointer;
}

.button-layout.success,
.button-rounded-layout.success{
    background-color: var(--button-success-background);
    color: var(--button-success-color);
}

.button-layout.success:hover,
.button-rounded-layout.success:hover{
    background-color: var(--button-success-hover);
}

.button-layout.info{
    background-color: var(--button-info-background);
    color: var(--button-info-color);
}

.button-layout.info:hover{
    background-color: var(--button-info-hover);
}

.button-layout.danger{
    background-color: var(--button-danger-background);
    color: var(--button-danger-color);
}

.button-layout.danger:hover{
    background-color: var(--button-danger-hover);
}